#header{margin-top:20px;}
#page-container{margin-bottom:20px;}
#url-rewriting-warning {display: none;}

.navbar-default {
	background:  url("../img/header-texture.jpg") repeat scroll 0 0 #B32D45;
  	box-shadow: 0px 0px 3px 2px rgba(42, 42, 42, 0.2) !important;
  	-moz-box-shadow: 0px 0px 2px 2px rgba(42, 42, 42, 0.2) !important;
  	-webkit-box-shadow: 0px 0px 2px 2px rgba(42, 42, 42, 0.2) !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  text-shadow: 0 0 10px #2a2a2a;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}

.btn-primary {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1e2a36;
  border-color: #161f29;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}



a {
  color: #B32D45;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #B32D45;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


.has-error-custom {
  color: #B32D45;
}


.bubble-left 
{
min-width: 50%;
position: relative;
background-color: #f2dede;
color: #b94a48;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #eed3d7 solid 3px;
padding: 15px;
margin-bottom: 20px;
}

.bubble-left:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 7px 8px 7px 0;
border-color: transparent #f2dede;
display: block;
width: 0;
z-index: 1;
left: -8px;
top: 15px;
}

.bubble-left:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 10px 9px 0;
border-color: transparent #eed3d7;
display: block;
width: 0;
z-index: 0;
left: -13px;
top: 13px;
}

.bubble-right 
{
min-width: 50%;
position: relative;
background-color: #d9edf7;
color: #3a87ad;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #bce8f1 solid 3px;
padding: 15px;
margin-bottom: 20px;
}

.bubble-right:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 7px 0 7px 8px;
border-color: transparent #d9edf7;
display: block;
width: 0;
z-index: 1;
right: -8px;
top: 40px;
}

.bubble-right:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 0 9px 10px;
border-color: transparent #bce8f1;
display: block;
width: 0;
z-index: 0;
right: -13px;
top: 38px;
}